.introduction-container {
    width: 1100px;
    height: calc(100vh - 70px);
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.introduction-container .about :is(.title, .paragraph) {
    margin: 0;
    padding: 0;
}

.introduction-container .about .title {
    font-weight: 200;
    text-transform: uppercase;
    color: var(--glb-color-second);
    font-size: 1rem;
}

.introduction-container .about .paragraph {
    font-size: calc(1.1rem + .9vw) !important;
    max-width: 500px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 1100px) {
    .introduction-container {
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    .introduction-container .about .paragraph {
        max-width: 550px;
    }
}

@media screen and (max-width: 450px){
    .introduction-container {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: 35px;
        align-items: flex-start;
    }
}