.introduction-container {
    width: 900px;
    height: calc(100vh - 70px);
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
}

.introduction-container .about :is(.title, .paragraph) {
    margin: 0;
    padding: 0;
}

.introduction-container .about .title {
    font-weight: 200;
    text-transform: uppercase;
    color: var(--glb-color-second);
    font-size: 1rem;
    text-align: center;
}

.introduction-container .about .paragraph {
    font-size: calc(1.1rem + .9vw) !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
}

.introduction-container .picture {
    width: 200px;
    height: 200px;
    outline: 2px solid gray;
    border-radius: 25px;
}

.introduction-container .picture img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

@media screen and (max-width: 1100px) {
    .introduction-container {
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    .introduction-container .about .paragraph {
        max-width: 550px;
    }
}