@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    /* Global Variables */
    --glb-font-family-first: 'Open Sans', sans-serif;
    --glb-font-family-second: 'Roboto Mono', monospace;
    --glb-color-first: 9, 9, 9;
    --glb-color-second: #5200ff;
    --glb-color-third: 236, 236, 236;
    --glb-color-fourth: #ffc400;
    --glb-color-fifth: #0c0c0c;
    --glb-color-sixth: #e5e3e3;
}

/* Theme: Dark */
[data-theme="dark"] {
    --background-color-first: var(--glb-color-first);
    --color-first: var(--glb-color-third);
    --hamburger-icon-child-color: var(--glb-color-third);
    --theme-selector-color: var(--glb-color-fifth);
    --navigation-color: var(--glb-color-fifth);
    --work-preview-background-color: white;
}

/* Theme: Light */
[data-theme="light"] {
    --background-color-first: var(--glb-color-third);
    --color-first: var(--glb-color-first);
    --hamburger-icon-child-color: var(--glb-color-first);
    --theme-selector-color: var(--glb-color-sixth);
    --navigation-color: var(--glb-color-sixth);
    --work-preview-background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--background-color-first));
    color: rgb(var(--color-first));
    font-family: var(--glb-font-family-first);
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(103, 103, 103, 0.1);
}